openapi: 3.1.0
info:
  title: Notion API for GPT
  version: 2.1.2
  description: >
    Reliable Notion API schema for GPTs — fixed Notion-Version header injection and inlined all request schemas.

servers:
  - url: https://api.notion.com/v1

paths:
  /databases:
    get:
      summary: List databases
      operationId: listDatabases
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: A list of databases

  /databases/{database_id}:
    get:
      summary: Retrieve a database
      operationId: retrieveDatabase
      parameters:
        - name: database_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Database details

  /databases/{database_id}/query:
    post:
      summary: Query a database
      operationId: queryDatabase
      parameters:
        - name: database_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                sorts:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Query results

  /pages:
    post:
      summary: Create a new page
      operationId: createSupportPage
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - properties
              properties:
                parent:
                  type: object
                  properties:
                    database_id:
                      type: string
                      example: "1d543f02ce93806c9e86efab8c77abe1"
                    page_id:
                      type: string
                      example: "optional-page-id-if-creating-subpage"
                properties:
                  type: object
                  additionalProperties: true
                children:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Page created

  /pages/{page_id}:
    get:
      summary: Get a Notion page
      operationId: getPage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Page data

    patch:
      summary: Update a Notion page
      operationId: updatePage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                archived:
                  type: boolean
      responses:
        '200':
          description: Page updated

    delete:
      summary: Delete (archive) a Notion page
      operationId: deletePage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Page archived

  /comments:
    post:
      summary: Insert a comment
      operationId: insertComment
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: object
                rich_text:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      text:
                        type: object
                        properties:
                          content:
                            type: string
      responses:
        '200':
          description: Comment added

  /comments/{comment_id}:
    get:
      summary: Read a comment
      operationId: readComment
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Comment retrieved

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

security:
  - bearerAuth: []
