openapi: 3.1.0
info:
  title: Notion API for GPT
  version: 2.1.1
  description: >
    Full-access Notion API schema for reading, writing, updating, commenting,
    and interacting with pages and databases for GPT integration.

servers:
  - url: https://api.notion.com/v1

paths:
  /databases:
    get:
      summary: List databases
      operationId: listDatabases
      parameters:
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: A list of databases

  /databases/{database_id}:
    get:
      summary: Retrieve a database
      operationId: retrieveDatabase
      parameters:
        - name: database_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: Database details

  /databases/{database_id}/query:
    post:
      summary: Query a database
      operationId: queryDatabase
      parameters:
        - name: database_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                sorts:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Results of the query

  /pages:
    post:
      summary: Create a new page
      operationId: createSupportPage
      parameters:
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - properties
              properties:
                parent:
                  type: object
                  description: Must include `database_id` or `page_id`
                  properties:
                    database_id:
                      type: string
                      example: "1d543f02ce93806c9e86efab8c77abe1"
                    page_id:
                      type: string
                      example: "optional-page-id-if-creating-subpage"
                properties:
                  type: object
                  description: Properties matching the Notion database schema.
                  additionalProperties: true
                children:
                  type: array
                  items:
                    type: object
                  description: Optional content blocks
      responses:
        '200':
          description: Successfully created the page

  /pages/{page_id}:
    get:
      summary: Get a Notion page
      operationId: getPage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: Page data

    patch:
      summary: Update a Notion page
      operationId: updatePage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                archived:
                  type: boolean
      responses:
        '200':
          description: Successfully updated the page

    delete:
      summary: Archive a Notion page
      operationId: deletePage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: Page archived

  /comments:
    post:
      summary: Insert a comment
      operationId: insertComment
      parameters:
        - $ref: '#/components/parameters/NotionVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: object
                rich_text:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      text:
                        type: object
                        properties:
                          content:
                            type: string
      responses:
        '200':
          description: Comment added

  /comments/{comment_id}:
    get:
      summary: Read a comment
      operationId: readComment
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/NotionVersion'
      responses:
        '200':
          description: Comment content

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  parameters:
    NotionVersion:
      name: Notion-Version
      in: header
      required: true
      schema:
        type: string
        example: "2022-06-28"

security:
  - bearerAuth: []
