openapi: 3.1.0
info:
  title: Notion API for GPT
  version: 2.1.0
  description: >
    Full-access Notion API schema for reading, writing, updating, commenting,
    and interacting with pages and databases for GPT integration.
servers:
  - url: https://api.notion.com/v1

paths:
  /databases:
    get:
      summary: List databases
      operationId: listDatabases
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: A list of databases

  /databases/{database_id}:
    get:
      summary: Retrieve a database
      operationId: retrieveDatabase
      parameters:
        - name: database_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Database details

  /databases/{database_id}/query:
    post:
      summary: Query a database
      operationId: queryDatabase
      parameters:
        - name: database_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: object
                sorts:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Results of the query

  /pages:
    post:
      summary: Create a new page
      description: Create a Notion page/row in a specific database using parent and properties.
      operationId: createSupportPage
      parameters:
        - in: header
          name: Notion-Version
          required: true
          schema:
            type: string
            example: "2022-06-28"
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: "Bearer YOUR_SECRET_TOKEN"
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: "application/json"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreate'
      responses:
        '200':
          description: Successfully created the page

  /pages/{page_id}:
    get:
      summary: Get a Notion page
      operationId: getPage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Page data

    patch:
      summary: Update a Notion page
      operationId: updatePage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                properties:
                  type: object
                  description: A dictionary of properties to update
                archived:
                  type: boolean
                  description: Set to true to archive the page
      responses:
        '200':
          description: Successfully updated the Notion page

    delete:
      summary: Archive (delete) a Notion page
      operationId: deletePage
      parameters:
        - name: page_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Page archived successfully

  /comments:
    post:
      summary: Insert a comment
      operationId: insertComment
      parameters:
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                parent:
                  type: object
                  description: An object defining the parent page or block for the comment.
                rich_text:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      text:
                        type: object
                        properties:
                          content:
                            type: string
      responses:
        '200':
          description: Comment added

  /comments/{comment_id}:
    get:
      summary: Read a comment
      operationId: readComment
      parameters:
        - name: comment_id
          in: path
          required: true
          schema:
            type: string
        - name: Notion-Version
          in: header
          required: true
          schema:
            type: string
          example: "2022-06-28"
      responses:
        '200':
          description: Comment content

components:
  securitySchemes:
    NotionToken:
      type: apiKey
      in: header
      name: Authorization

  schemas:
    PageCreate:
      type: object
      required:
        - parent
        - properties
      properties:
        parent:
          type: object
          description: An object containing either a database_id or a page_id for page creation.
          properties:
            database_id:
              type: string
              example: "1d543f02ce93806c9e86efab8c77abe1"
            page_id:
              type: string
              example: "optional-page-id-if-creating-subpage"
        properties:
          type: object
          description: Dictionary of page properties matching your Notion database.
          additionalProperties: true
        children:
          type: array
          items:
            type: object
          description: Optional array of block objects to include as children.

security:
  - NotionToken: []
